@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  outline: none;
  border: none;
}
button:active{
  transform: translateY(2px);
}

.App{
  width: 414px;
  max-width: 414px;
  background: #F9F9F9;
  padding: 48px 38px 20px 38px ;
}

.header{
  display: flex;
  width: 100%;
  margin-bottom: 34px;
}
.header img:nth-child(1){
  margin-right: 150px;
}
.header img:nth-child(2){
  position: absolute;
  margin: 36px 0 0 4px;
}

.header img:nth-child(3), .header img:nth-child(4), .header img:nth-child(5){
  margin: 0 10px;
}

.App p{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 38px;
}
.App article{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px; 
}

.cards{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.cards img{
  float: left;
  margin: 10px;
  transition: .4s;
  display: flex;
  align-items: center;
}

.cards :not(img){
  position: absolute;
  z-index: 3;
  margin: 0 24px;
  opacity: 0;
  transition: .4s;
}
.cards p{
  top: 24px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: left;
}

.cards article{
  top: 90px;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 85px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards button{
  top: 150px;
  background: transparent;
}
.cards button img{
  width: 30px;
  height: 30px;
}